[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-dotenv = "*"
sqlalchemy = "*"
alembic = "*"
python-dotenv = "*"
requests = "*"
flask-wtf = "*"
wtforms = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
